.elementor-8 .elementor-element.elementor-element-3178e9d {color: #000;font-family: "Roboto Condensed",Sans-serif;}
.elementor-8 .elementor-element.elementor-element-3178e9d .elementor-text-editor {column-gap: 0px;}
.elementor-8 .elementor-element.elementor-element-3178e9d > .elementor-widget-container {margin: 0px 0px -30px 0px;}
.elementor-8 .elementor-element.elementor-element-82048fe .elementor-image img {max-width: 80%;}
.elementor-8 .elementor-element.elementor-element-82048fe > .elementor-widget-container {margin: 29px 6px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-85f7b2a .elementor-text-editor {text-align: justify;}
.elementor-8 .elementor-element.elementor-element-85f7b2a {color: #000;font-family: "Roboto",Sans-serif;}
.elementor-8 .elementor-element.elementor-element-eb34c6e > .elementor-widget-container {margin: 0px 0px -30px 0px;}
.elementor-8 .elementor-element.elementor-element-a7a227f .elementor-image img {max-width: 92%;}
.elementor-8 .elementor-element.elementor-element-a7a227f > .elementor-widget-container {margin: 8px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-6459d3f .elementor-text-editor {text-align: justify;}
.elementor-8 .elementor-element.elementor-element-6459d3f {color: #000;}
.elementor-8 .elementor-element.elementor-element-a25dd60 > .elementor-widget-container {margin: 0px 0px -30px 0px;}
.elementor-8 .elementor-element.elementor-element-d9431fc .elementor-image img {max-width: 92%;}
.elementor-8 .elementor-element.elementor-element-d9431fc > .elementor-widget-container {margin: 44px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-85349bf .elementor-text-editor {text-align: justify;}
.elementor-8 .elementor-element.elementor-element-85349bf {color: #000;}
.elementor-8 .elementor-element.elementor-element-85349bf > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-8 .elementor-element.elementor-element-f843cd5 > .elementor-widget-container {margin: 0px 0px -30px 0px;}
.elementor-8 .elementor-element.elementor-element-9e1fba1 .elementor-image img {max-width: 94%;}
.elementor-8 .elementor-element.elementor-element-6faaa8e .elementor-text-editor {text-align: justify;}
.elementor-8 .elementor-element.elementor-element-6faaa8e {color: #000;}
@media (min-width:768px) {.elementor-8 .elementor-element.elementor-element-fa61328 {width: 30%;}
	.elementor-8 .elementor-element.elementor-element-ec314e5 {width: 70%;}
	.elementor-8 .elementor-element.elementor-element-26bab6a {width: 30%;}
	.elementor-8 .elementor-element.elementor-element-bb53bcd {width: 70%;}
	.elementor-8 .elementor-element.elementor-element-0186269 {width: 30%;}
	.elementor-8 .elementor-element.elementor-element-7957b72 {width: 70%;}
	.elementor-8 .elementor-element.elementor-element-54068c2 {width: 30%;}
	.elementor-8 .elementor-element.elementor-element-4a315f4 {width: 70%;}}