.elementor-12 .elementor-element.elementor-element-ea4d5ff.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-12 .elementor-element.elementor-element-b9c80dc > .elementor-widget-container {margin: 10px 0px -26px 0px;}
.elementor-12 .elementor-element.elementor-element-29b6de6 .elementor-text-editor {text-align: left;}
.elementor-12 .elementor-element.elementor-element-29b6de6 {color: rgba(0,0,0,.84);font-family: "Roboto",Sans-serif;font-size: 18px;font-weight: normal;font-style: normal;line-height: 1.9em;letter-spacing: .1px;}
.elementor-12 .elementor-element.elementor-element-29b6de6 > .elementor-widget-container {padding: 0% 0% 0% 4%;}
.elementor-12 .elementor-element.elementor-element-8e1869b > .elementor-widget-container {margin: 20px 0px -32px 0px;}
.elementor-12 .elementor-element.elementor-element-9e14114 {color: #000;font-size: 18px;}
.elementor-12 .elementor-element.elementor-element-184ecbd .elementor-text-editor {column-gap: 0px;}
.elementor-12 .elementor-element.elementor-element-184ecbd > .elementor-widget-container {margin: 20px 0px -32px 0px;padding: 0px 0px 0px 0px;}
.elementor-12 .elementor-element.elementor-element-4c2a8f3 {color: #000;font-size: 18px;}
.elementor-12 .elementor-element.elementor-element-4c2a8f3 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-12 .elementor-element.elementor-element-9810f74 > .elementor-widget-container {margin: 10px 0px -32px 0px;}
.elementor-12 .elementor-element.elementor-element-7a3a7e6 {color: #000;font-size: 18px;}
.elementor-12 .elementor-element.elementor-element-8e8df97 > .elementor-widget-container {margin: 10px 0px -32px 0px;}
.elementor-12 .elementor-element.elementor-element-dbe6afb {color: #000;font-size: 18px;}
@media (max-width:767px) {.elementor-12 .elementor-element.elementor-element-29b6de6 > .elementor-widget-container {padding: 0px 0px 0px 0px;}}
@media (min-width:768px) {.elementor-12 .elementor-element.elementor-element-9ceedb2 {width: 27.982%;}
	.elementor-12 .elementor-element.elementor-element-994488c {width: 72.015%;}}